# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Static uploads (if any)
app/static/uploads/

# Migrations cache
migrations/__pycache__/